# !! DO NOT REMOVE THIS UNDER ANY CIRCUMSTANCES !!
# !! OR YOU WILL PUSH YOUR TOKEN (BAD!) !!
.env

__pycache__/
*.py[cod]
*$py.class
/venv
/.venv
/.vscode
docker-compose.yml
bot_token.txt
bot_token.txt
